jupyterlab>3.0
llama-index-vector-stores-lancedb==0.2.2
llama-index-multi-modal-llms-openai==0.2.0
llama-index-vector-stores-lancedb==0.2.2
llama-index-embeddings-clip==0.2.0
llama_index==0.11.6
ftfy==6.2.3
regex==2024.7.24
tqdm==4.66.5
openai-whisper==20231117
torch==2.2.2
torchvision==0.17.2
matplotlib==3.9.2
scikit-image==0.24.0
lancedb==0.12.0
moviepy==1.0.3
pytubefix==7.0.0
pydub==0.25.1
SpeechRecognition==3.10.4
ffmpeg-python==0.2.0
soundfile==0.12.1

gradio==4.43.0
langgraph==0.1.14
langchain==0.2.11
langchain-nvidia-ai-endpoints==0.2.0
langchain-openai==0.1.17
dataclass_wizard==0.22.2
unstructured[all-docs]
onnxruntime==1.18.0
tesseract==0.1.3
